*{
    box-sizing: border-box;
    font-family: Pixelify sans;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff2df;
}

h1{
    font-size: 70px;
    color: white;
    -webkit-text-stroke: 3px rgb(62, 61, 61);
}

.etch{
    background-color: #ca2a2a;
    border-right: 15px #db3737 solid;
    border-top: 15px #db3737 solid;
    border-left: 15px #bc3030 solid;
    border-bottom: 15px #bc3030 solid;

    border-radius: 30px;
    width: 45rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex: 1;
}

.sketch{
    width: 35rem;
    height: 35rem;
    background-color: white;
    margin: 3rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.knobs{
    padding: 2rem;
    width: 45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.handle{
    background-color: white;
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 15px solid rgba(208, 208, 208, 0.305);
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}
.customization{
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 32px;
}

button{
    height: 3rem;
    font-size: larger;
}

p{
    font-size: xx-large;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.customization, .settings {
    width: 10rem;
}